<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/screen.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="svg-sprites">
    {% include '../../sprites/svg/svg-symbols.svg' %}
</div>
{% set headerDropdown = [
{txt: 'Explorer', href: '#'},
{txt: 'Charts', href: '#'},
{txt: 'P2Pool Stat', href: '#'}
] %}
{% set items = [{txt: 'Главная',href: '#', defaultState: 'navigation__item--active'},{txt: 'Новичкам',href: '#'},
{txt: 'Экспертам',
href: '#', withDropdown: true,
defaultState: 'navigation__item--show-dropdown', list: headerDropdown},
{txt: 'Блог',href: '#'},{txt: 'Wiki',href: '#'}]
%}

{% set navigationFooterItems = [
{txt: 'Новичкам', href: '#'},{txt: 'Экспертам',href: '#'},{txt: 'Блог',href: '#'},{txt: 'Википедия',href: '#'}
] %}

{% set pageFooterNewsList = [
{href: '#', txt: 'Изменение функционала работы с NTP', date: '1 сен 2015'},
{href: '#', txt: 'Изменение функционала работы с NTP', date: '1 сен 2015'},
{href: '#', txt: 'Реализована поддержка протокола NTP в качестве дополнительного источника времени', date: '1 сен 2015'},
{href: '#', txt: 'Изменение функционала работы с NTP', date: '1 сен 2015'}
] %}
{% set pageFooterNewsClass = 'news-list--type-horizontal' %}

{% set footerSocialList = [{label: 'fb', href: '#', 'fb'}, {label: 'fb', href: '#', 'fb'}, {label: 'fb', href: '#', 'fb'}, {label: 'fb', href: '#', 'fb'}] %}
{% set pageFooterSocialList = [
{label: 'Вконтакте', icon: 'vk', type: 'social-list--vk', href: '#'},
{label: 'Facebook', icon: 'fb', type: 'social-list--fb', href: '#'},
{label: 'Google +', icon: 'google', type: 'social-list--google', href: '#'},
{label: 'Twitter', icon: 'tw', type: 'social-list--tw', href: '#'}
] %}

<div class="out">
    {% include '../page-header/page-header.twig' %}
    {% block content %}
    {% endblock content %}
    {% include '../page-footer/page-footer.twig' %}
</div>
<script src="js/main.js"></script>
</body>
</html>
