<section class="banner">
    <h2 class="banner__title">Что такое NOVACOIN?</h2>
    <h3 class="banner__subtitle">NOVACOIN - Криптовалюта второго поколения</h3>
    {% include '../button/button.twig'  with {
        btnTxt: 'Подробнее'
    }%}
</section>
