.btn
  display: inline-block
  min-width: 154px
  white-space: nowrap
  height: 40px
  font-size: get-rem(16)
  font-weight: 700
  line-height: 1
  padding: 0 get-rem(30)
  &--green
    color: #ffffff
    box-shadow: 0 3px 9px rgba(79, 163, 4, 0.35)
    background-color: #10b510
