{% set breadcrumbs = [
{href: '#', txt: 'Главная'},
{href: '#', txt: 'Новичкам'}
] %}

{% set accordion = [
{title: "Что такое криптовалюта?", content: 'raz dva tri', index: 1},
{title: "Что такое криптовалюта?", content: 'raz dva tri', index: 2},
{title: "Какими преимуществами обладают криптовалютные системы по сравнению с традиционными деньгами?", content: 'raz dva tri', index: 3},
{title: "Что такое криптовалюта?", content: 'raz dva tri'},
] %}
{% extends '../blocks/layout/layout.twig' %}
{% block content %}
    <main class="main">
        <div class="main__i">
            {% embed '../blocks/banner/banner.twig' with {bannerClass: 'banner--type-presentation banner--type-beginners'}%}
                {% block content %}
                  <div class="banner__breadcrumbs">
                      {% include '../blocks/breadcrumbs/breadcrumbs.twig' %}
                  </div>
                    <h2 class="banner__title banner__title--large">
                        Новичкам
                    </h2>
                {% endblock %}
            {% endembed %}

            <p class="page__description container">
                Novacoin, NVC, Новакойн – криптовалютная система, созданная русскими раз-работчиками в 2012 году. Изначально в основу алгоритма работы криптовалютной системы Novacoin был положен системный принцип монеты  Peercoin. Впоследствии основополагающий элемент подвергся серьёзной переработке и на деанный период времени очень отдаленно напоминает оригинал.  Как и другие криптовалюты Novacoin представляет из себя децентрализованную систему, то есть не контроли руется регулирующими государственными  органами и любыми другими организациями.
            </p>
            <div class="page__accordion container">
                {% embed '../blocks/accordion/accordion.twig' %}

                {% endembed %}
            </div>
        </div>
    </main>
{% endblock %}
